<ion-view view-title="Station">
  <ion-content>
    <h1 class="text-center padding energized">{{station_name}}</h1>
     <h2><img src={{image}}><br><span class="badge badge-dark">{{distance}} Miles </span></h2>
    <a class="button button-block button-positive padding-dark" href="#/app/directions/{{latitude}}/{{longitude}}">Directions</a>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
