<ion-view view-title="Stations">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        Nearby Stations
      </div>

      <ion-item class="item item-thumbnail-right"  ng-repeat="station in stations | orderBy:'distance':reverse" href="#/app/stations/{{station.station_id}}/{{station.name}}/{{station.lat}}/{{station.lon}}">

        <img src={{imageHelper(station.name)}}>
        <div class="row">
          <div class="col col-100">
            {{station.data.stations.last_update}}
            <strong>{{station.name}}</strong><br>
            {{station.address}}
            <p>{{station.distance}} miles from <current></current> location</p>
            <div ng-repeat="data in availability.data.stations" ng-show="data.station_id==station.station_id">

            <p><span class="balancd">{{data.num_bikes_available}} <i class="ion-android-bicycle balanced"> Available</i> </span> | <span class="dark"> Docks: {{data.num_docks_available}}</span></p>
            </div>
            </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
